 <div >
 <i class="fas fa-book-reader large" style="float:left"></i> <h3  >StoryBooks </h3>
</div>
<div class="section">
<p>Create public and private stories</p>

</div>
<div class="divider"> </div>
<div>
<a href="/auth/google" class="btn red">    <i class="fab fa-google"></i> Login with Google  </a>
<br><br>
<button class="btn blue" href="">  <i class="fab fa-facebook"></i> Login with Facebook   </button></p>
<br>
<p><button class="btn dark-blue" href="">  <i class="fab fa-linkedin"></i> Login with linkedn   </button></p>

</div>
