<div>
<i  class="fas fa-book-reader large"  > </i> <h3> StoryBooks</h3>
</div>

<div class="section">
<p>Create  public and private stories</p>

</div>

<div class="divider"> </div>
<div>
    <button class="btn red "><a href="/auth/google"  ><i class="fa fa-google">  </i>  Login with Google </a></button> 
    <br><br>
    <button class="btn blue "> <i class="fab fa-linkedin"></i>  Login with Linkedn </p></button> 
</div>