.login-container{
    width:400px;
    margin-top: 30px;
    text-align: center;
}

p{
    margin: 10px 0  !important;

}
.fa-small{
    font-size:10px !important ;
}
.btn-float{
    float:left;
    margin: right 20px;
}
.img-small{
    width:80px;
    height: 80px;

}